@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Velkommen til morgenmadsbuffeten
    </h1>
    <p>Dette er startsiden for personalet af morgenmadsbuffeten. Du kan enten registrere dig som Kok, Tjener eller recptionist. Du kan også vælge at logge ind</p>
</div>
