@model IEnumerable<GUUI2.Models.Booking>

@{
    ViewData["Title"] = "Check Ind";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Restaurant</h1>
        <p>Her kan du checke gæster ind til morgenmaden</p>
        <div class="form-group">
            <a asp-controller="Restaurant" asp-action="CheckIn" class="btn btn-primary">Check ind</a>
        </div>
        <p>Her ser du de værelser som har bestilt morgenmad:</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" id="date">Dato</th>
                    <th scope="col" id="roomNumber">Værelsesnummer</th>
                    <th scope="col" id="adults">Antal voksne</th>
                    <th scope="col" id="kids">Antal Børn</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dato)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VaerelsesNr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Voksne)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Boern)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>